# Java
*.class
*.jar
*.war
*.ear
*.nar

# Spring Boot
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# React & Node.js
node_modules/
build/
dist/
.env

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
